$small_size: 460px

@media only screen and (max-width: $small_size)
  *
    margin-bottom: 30px
    font-size: 32px

  #top_menu
    height: 90px
    border: dotted firebrick 3px

  #block_header
    height: 70px
    width: 200px
    border: dotted darkgreen 3px

  #main_photo, #bio, #skills, #tools, #education, #courses, #buttons
    margin-left: 30px
    margin-right: 30px

  #main_photo
    height: 250px
    border: dotted darkorange 3px
    img
      display: block
      margin: 0 auto

  #bio
    height: 500px
    border: solid purple 3px

  #skills
    height: 350px
    border: solid darkslategrey 3px

  #tools
    height: 250px
    border: solid darkblue 3px

  #education
    height: 250px
    border: solid darkolivegreen 3px

  #courses
    height: 250px
    border: solid darkred 3px

  #buttons
    height: 100px
    border: solid darkblue 3px
